.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.not-found h1 {
  font-size: 120px;
  margin-bottom: 1.5rem;
}
